node_modules/
target/

# Web IDE, App studio

.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

#other
.DS_store
*.orig
*.log

*.iml
*.flattened-pom.xml

#@cap-js/cds-typer
@cds-models
dist
Makefile*
coverage

